/* Général ------------------------------------------------------------------------------------- */

p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

.login fieldset {
    padding: 10px;
    border: 1px yellow solid;
    margin: 10px;
    
	-moz-border-radius:10px;
	-moz-box-shadow: 0 0 5px #6d7673;
	-webkit-box-shadow: 0 0 5px# 6d7673;
	box-shadow: 0 0 5px #6d7673;
}

.login legend {
    font-weight: bold;
    color: #05DD44;
}

/* Forms --------------------------------------------------------------------------------------- */

.login label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

.login input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

.login input.sansLabel {
    margin-left: 200px;
}

.login .erreur {
    color: #900;
}

.login .succes {
    color: #090;
}

.login .requis {
    color: #c00;
}