/* Général ------------------------------------------------------------------------------------- */

p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

.subscribe fieldset {
    padding: 10px;
    border: 1px #8888FF solid;
    margin: 10px;
    
    -moz-border-radius:10px;
	-moz-box-shadow: 0 0 5px #6d7673;
	-webkit-box-shadow: 0 0 5px# 6d7673;
	box-shadow: 0 0 5px #6d7673;
}

.subscribe legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

.subscribe label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

.subscribe input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

.subscribe input.sansLabel {
    margin-left: 200px;
}

.subscribe .erreur {
    color: #900;
}

form .succes {
    color: #090;
}

form .requis {
    color: #c00;
}